{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": ["warn", 2],
    "jsx-quotes": ["warn", "prefer-single"],
    "quote-props": ["warn", "as-needed"]
  }
}
